@CHARSET "UTF-8"; 

body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  min-width:357px;
  overflow-x:hidden;
  font-size: 80%;
}
	
h3 {
  display:block;
} 

ul {
  margin: 0;
  padding: 0;
  list-style: none;
} 

li.line{ 
  text-decoration: none;
  display: block;
  padding: 4px;
  color: black;
  border-bottom: 3px solid #E1E1E1;
  cursor: pointer;
}  

li.line:hover {
	background-color: #E1E1E1;
}  

a {
  text-decoration: none;
} 

