<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/js/util.js"></script>
    <script src="/js/options.js"></script>
    <link rel="stylesheet" href="/css/options.css"/>
  </head>
  <body onload="initialize();">
    <div id="header">
      <h1>My Event Checker Options</h1>
    </div>
    <div id="content">
      <table style="margin-left: 55px;" width="96%">
      <p>各サービスサイトで使用しているnicknameを設定して下さい</p>
        <tr class="rows">
          <td class="row">
            <h3>ATND BETA</h3>
            <label>nickname: </label>
            <input type="text" id="atnd_nickname" />
          </td>
        </tr>
        <tr class="rows">
          <td class="row">
            <h3>connpass</h3>
            <label>nickname: </label>
            <input type="text" id="connpass_nickname" />
          </td>
        </tr>
      </table>
      <br/>
      <div id="save">
        <button class="css3button" id="save" type="button" onclick="save()" >save
        </button>
        <div id="save_status"></div>
      </div>
    </div>
  </body>
</html>
