<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8">
    <title>My Event Checker</title>
    <script src="/js/json2.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/ext_connect.js"></script>
    <script src="/js/popup.js"></script>
    <link rel = "stylesheet" href = "/css/popup.css"/>
  </head>
  <body onload="main();">
    <h3>ATND BETA</h3>
    <ul id="atnd"> 
      <div align="center"><img src="/images/loader.gif" /></div>
    </ul> 
    <h3>connpass</h3>
    <ul id="connpass">
      <div align="center"><img src="/images/loader.gif" /></div>
    </ul> 
    <h3>Zusaar</h3>
    <ul id="zusaar">
      <div align="center"><img src="/images/loader.gif" /></div>
    </ul> 
  </body>
</html>
